.btn{
    padding: 0.5rem 1rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    border: none;
    margin: .2rem .5rem;

    @include transition(all .5s cubic-bezier(0.165, 0.84, 0.44, 1));
}